.main {
    justify-content: center;
    text-align: center;
}

.titleMessage {
    font: 36px "Montserrat", sans-serif;
    color: #444444;
    margin: 20px 0;
}

.message {
    font: 16px "Open Sans", sans-serif;
    color: #888888;

    padding-bottom: 10px;
}

.formContainer {
    width: 380px;
    margin: auto;
}

.formFields {
    padding: 20px 0 0;
}

.formFields input{
    border: none;
    border-radius: 26px;
}

.formFields button{
    border: none;
    border-radius: 26px;
}

.spamMessage {
    font: 14px "Open Sans", sans-serif;
    color: #888888;

    padding: 20px 0;
}
