html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  width: 100%;

  padding: 14px 15px;
  border: 0px;
  border-radius: 3px;

  background-color: #dddddd;

  font: 14px "Open Sans", sans-serif;
}

button {
  width: 100%;

  padding: 14px 15px;
  border: 0px;
  border-radius: 3px;

  color: #444444;
  background-color: #fdbd10;

  font: 14px "Open Sans", sans-serif;
  font-weight: bold;
}
