.main {
    display: flex;
    justify-content: center;

    background-image: linear-gradient(rgba(54, 63, 72, 0.85), rgba(54, 63, 72, 0.85)), url("../public/assets/derm-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.leftContainer {
    width: 540px;
    height: 536px;

    padding: 120px 0 0;
}

.rightTitleMessage {
    font: 36px "Montserrat", sans-serif;
    color: #ffffff;
    margin: 20px 0;
}

.rightColoredMessage {
    font: 20px "Open Sans", sans-serif;
    color: #fdbd10;
    margin: 0px;
}

.rightMessage {
    font: 16px "Open Sans", sans-serif;
    color: #dddddd;
}

.rightContainer {
    width: 380px;
    height: 536px;

    padding: 40px 20px;
    background-color: #00000080;

    color: #333333;
    text-align: center;
}

.leftTitleMessage {
    color: #ffffff;
}

.leftMessage {
    color: #aaaaaa
}

.formFields {
    padding: 20px 0 0;
}
